<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />

<!-- Custom fonts for this theme -->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
	rel="stylesheet" type="text/css" />
<link
	href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
	rel="stylesheet" type="text/css" />

<!-- Theme CSS -->
<link href="css/freelancer.min.css" rel="stylesheet" />
<title>Tus Rutas - Trujillo</title>

</head>
<body id="page-top">
	<!-- Navigation -->
	<nav
		class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top"
		id="mainNav">
	<div class="container">
		<a class="navbar-brand js-scroll-trigger" href="#page-top">Tus
			Rutas - Trujillo</a>
		<button
			class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
			type="button" data-toggle="collapse" data-target="#navbarResponsive"
			aria-controls="navbarResponsive" aria-expanded="false"
			aria-label="Toggle navigation">
			Menu <i class="fas fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item mx-0 mx-lg-1"><a
					class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
					href="#portfolio">¿Que es?</a></li>
				<li class="nav-item mx-0 mx-lg-1"><a
					class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
					href="#about">¿Cómo Nació?</a></li>
			</ul>
		</div>
	</div>
	</nav>
	<!-- Masthead -->
	<header class="masthead bg-primary text-white text-center">
	<div class="container d-flex align-items-center flex-column">

		<!-- Masthead Avatar Image -->
		<img class="masthead-avatar mb-5" width="100%" height="100%"
			src="img/portfolio/logo.png" alt="" />

		<!-- Masthead Heading -->
		<h1 class="masthead-heading text-uppercase mb-0">Tus rutas -
			Trujillo</h1>

		<!-- Icon Divider -->
		<div class="divider-custom divider-light">
			<div class="divider-custom-line"></div>
			<div class="divider-custom-icon">
				<i class="fas fa-bus"></i>
			</div>
			<div class="divider-custom-line"></div>
		</div>
		<!-- Masthead Subheading -->
		<p class="masthead-subheading font-weight-light mb-0">Dime dónde
			estás, a dónde quieres ir y te diré que bus tomar para llegar sin
			problema.</p>
	</div>
	</header>

	<!-- Portfolio Section -->
	<section class="page-section portfolio" id="portfolio">
	<div class="container">

		<!-- Portfolio Section Heading -->
		<h2
			class="page-section-heading text-center text-uppercase text-secondary mb-0">¿Que
			es "Tus Rutas"?</h2>

		<!-- Icon Divider -->
		<div class="divider-custom">
			<div class="divider-custom-line"></div>
			<div class="divider-custom-icon">
				<i class="fas fa-bus"></i>
			</div>
			<div class="divider-custom-line"></div>
		</div>

		<!-- Portfolio Grid Items -->
		<div class="row">

			<!-- Portfolio Item 1 -->
			<div class="col-md-6 col-lg-4">
				<div class="portfolio-item mx-auto" data-toggle="modal"
					data-target="#portfolioModal1">
					<div
						class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
						<div class="portfolio-item-caption-content text-center text-white">
							<i class="fas fa-plus fa-3x"></i>
						</div>
					</div>
					<img class="img-fluid" src="img/portfolio/cabin.jpg" alt="" />
				</div>
			</div>

			<!-- Portfolio Item 2 -->
			<div class="col-md-6 col-lg-4">
				<div class="portfolio-item mx-auto" data-toggle="modal"
					data-target="#portfolioModal2">
					<div
						class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
						<div class="portfolio-item-caption-content text-center text-white">
							<i class="fas fa-plus fa-3x"></i>
						</div>
					</div>
					<img class="img-fluid" src="img/portfolio/cake.jpg" alt="" />
				</div>
			</div>

			<!-- Portfolio Item 3 -->
			<div class="col-md-6 col-lg-4">
				<div class="portfolio-item mx-auto" data-toggle="modal"
					data-target="#portfolioModal3">
					<div
						class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
						<div class="portfolio-item-caption-content text-center text-white">
							<i class="fas fa-plus fa-3x"></i>
						</div>
					</div>
					<img class="img-fluid" src="img/portfolio/safe.jpg" alt="" />
				</div>
			</div>

		</div>
		<!-- /.row -->

	</div>
	</section>

	<!-- About Section -->
	<section class="page-section bg-primary text-white mb-0" id="about">
	<div class="container">

		<!-- About Section Heading -->
		<h2 class="page-section-heading text-center text-uppercase text-white">¿Cómo
			nació?</h2>

		<!-- Icon Divider -->
		<div class="divider-custom divider-light">
			<div class="divider-custom-line"></div>
			<div class="divider-custom-icon">
				<i class="fas fa-location-arrow"></i>
			</div>
			<div class="divider-custom-line"></div>
		</div>

		<!-- About Section Content -->
		<div class="row" id="about">
			<div class="col-lg-4 ml-auto">
				<p class="lead">Tus Rutas es una aplicación gratuita que nació
					de la idea de cuatro estudiantes de informática, que en vista de una
					problemática social, buscaron una solución tecnológica para poder
					desarrollarla hasta el día de hoy.</p>

			</div>
			<div class="col-lg-4 mr-auto">
				<p class="lead">La aplicación tiene como objetivo ayudar a los
					ciudadanos y turistas al momento de ir hacia algún destino, al cual
					no se sabe como llegar. En base a la ubicación la asistente virtual
					indicará cómo llegar fácil y rápido.</p>
			</div>
		</div>

	</div>
	</section>

	<!-- Contact Section -->

	<!-- Footer -->
	<footer class="footer text-center">
	<div class="container">
		<div class="row">

			<!-- Footer Location -->
			<div class="col-lg-4 mb-5 mb-lg-0">
				<h4 class="text-uppercase mb-4">Ubicación</h4>
				<p class="lead mb-0">
					Urb. Mochica - Trujillo - Perú <br />contato_usuarios@tusrutas.com
				</p>
			</div>

			<!-- Footer Social Icons -->
			<div class="col-lg-4 mb-5 mb-lg-0">
				<h4 class="text-uppercase mb-4">Redes Sociales</h4>
				<a class="btn btn-outline-light btn-social mx-1"
					href="http://www.facebook.com"> <i
					class="fab fa-fw fa-facebook-f"></i>
				</a> <a class="btn btn-outline-light btn-social mx-1" href="#"> <i
					class="fab fa-fw fa-twitter"></i>
				</a> <a class="btn btn-outline-light btn-social mx-1" href="#"> <i
					class="fab fa-fw fa-linkedin-in"></i>
				</a>
			</div>

			<!-- Footer About Text -->
			<div class="col-lg-4">
				<h4 class="text-uppercase mb-4">Tus Rutas - Trujillo</h4>
				<p class="lead mb-0">Aplicativo web como proyecto educativo para
					satisfacer una necesidad social y turística.</p>
			</div>

		</div>
	</div>
	</footer>

	<!-- Copyright Section -->
	<section class="copyright py-4 text-center text-white">
	<div class="container">
		<small>Copyright &copy; Tus Rutas 2019</small>
	</div>
	</section>

	<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
	<div class="scroll-to-top d-lg-none position-fixed ">
		<a class="js-scroll-trigger d-block text-center text-white rounded"
			href="#page-top"> <i class="fa fa-chevron-up"></i>
		</a>
	</div>

	<!-- Portfolio Modals -->

	<!-- Portfolio Modal 1 -->
	<div class="portfolio-modal modal fade" id="portfolioModal1"
		tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label"
		aria-hidden="true">
		<div class="modal-dialog modal-xl" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true"> <i class="fas fa-times"></i>
					</span>
				</button>
				<div class="modal-body text-center">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-8">
								<!-- Portfolio Modal - Title -->
								<h2
									class="portfolio-modal-title text-secondary text-uppercase mb-0">Asistente
									Virtual</h2>
								<!-- Icon Divider -->
								<div class="divider-custom">
									<div class="divider-custom-line"></div>
									<div class="divider-custom-icon">
										<i class="fas fa-assistive-listening-systems"></i>
									</div>
									<div class="divider-custom-line"></div>
								</div>
								<!-- Portfolio Modal - Image -->

								<!-- Portfolio Modal - Text -->
								<p class="mb-5">Tus Rutas es un aplicación web basada en la
									inteligencia artificial destinada a ayudarte que junto a otras
									tecnologías, hara que tus destinos sean mas seguros y sin
									confusiones.</p>
								<button class="btn btn-primary" href="#" data-dismiss="modal">
									<i class="fas fa-times fa-fw"></i> Cerrar Ventana
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Portfolio Modal 2 -->
	<div class="portfolio-modal modal fade" id="portfolioModal2"
		tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label"
		aria-hidden="true">
		<div class="modal-dialog modal-xl" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true"> <i class="fas fa-times"></i>
					</span>
				</button>
				<div class="modal-body text-center">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-8">
								<!-- Portfolio Modal - Title -->
								<h2
									class="portfolio-modal-title text-secondary text-uppercase mb-0">Geolocalización</h2>
								<!-- Icon Divider -->
								<div class="divider-custom">
									<div class="divider-custom-line"></div>
									<div class="divider-custom-icon">
										<i class="fas fa-map-marker"></i>
									</div>
									<div class="divider-custom-line"></div>
								</div>
								<!-- Portfolio Modal - Image -->
								<!--  <img class="img-fluid rounded mb-5" src="img/portfolio/cake.png"
									alt="" />-->
								<!-- Portfolio Modal - Text -->
								<p class="mb-5">Gracias a la geolocalización por
									corrdenadas, la asistencia virtual de la aplicación, obtendra
									la ubicación actual y sabra desde el punto actual, que rutas
									pasas por ese punto y analizará si es adecuada para el destino
									o no.</p>
								<button class="btn btn-primary" href="#" data-dismiss="modal">
									<i class="fas fa-times fa-fw"></i> Cerrar Ventana
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Portfolio Modal 3 -->
	<div class="portfolio-modal modal fade" id="portfolioModal3"
		tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label"
		aria-hidden="true">
		<div class="modal-dialog modal-xl" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true"> <i class="fas fa-times"></i>
					</span>
				</button>
				<div class="modal-body text-center">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-8">
								<!-- Portfolio Modal - Title -->
								<h2
									class="portfolio-modal-title text-secondary text-uppercase mb-0">Transporte
									Público</h2>
								<!-- Icon Divider -->
								<div class="divider-custom">
									<div class="divider-custom-line"></div>
									<div class="divider-custom-icon">
										<i class="fas fa-bus"></i>
									</div>
									<div class="divider-custom-line"></div>
								</div>
								<!-- Portfolio Modal - Image -->
								<!-- <img class="img-fluid rounded mb-5"
									src="img/portfolio/circus.png" alt="" />-->
								<!-- Portfolio Modal - Text -->
								<p class="mb-5">Mediante un directorio de coordenadas, la
									asistencia virtual de la aplicación indicara que ruta de
									transporte público es la mas adecuada y conveniente para el
									destino fijado.</p>
								<button class="btn btn-primary" href="#" data-dismiss="modal">
									<i class="fas fa-times fa-fw"></i> Cerrar Ventana
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		(function(b, c) {
			var e = document.createElement('link');
					e.rel = 'stylesheet',
					e.type = 'text/css',
					e.href = 'https://chatboxlive.blahbox.net/static/css/main.css',
					document.getElementsByTagName('head')[0].appendChild(e);
			var f = document.createElement('script');
			f.onload = function() {
				var g;
				if (c)
					g = 'previewInit';
				else {
					var h = document.createElement('div');
					g = 'cbinit', h.id = 'cbinit', document.body.append(h)
				}
				console.log(document.querySelector('#' + g)), chatbox.initChat(
						document.querySelector('#' + g), b, c)
			}, f.src = 'https://chatboxlive.blahbox.net/static/js/chat-lib.js',
					document.getElementsByTagName('head')[0].appendChild(f)
		})('dea64f29d7d3e384cbe1ee34c924273d', 0);
	</script>


	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Contact Form JavaScript -->
	<script src="js/jqBootstrapValidation.js"></script>
	<script src="js/contact_me.js"></script>

	<!-- Custom scripts for this template -->
	<script src="js/freelancer.min.js"></script>
</body>

</html>